/* root styles */
:root {
  font-size: 10px; /* Reset font size for ease of use with rem units */
  /* Colors */
  --main-bg-color: #ededed;
  --main-red-color: rgb(202, 65, 65);
  --main-blue-color: rgb(20, 50, 78);
  --main-font-color: rgb(245, 245, 245);
  --secondary-font-color: rgb(140, 140, 140);
  --card-body-color: #fff;
  --placeholder-card-color: #ddd;

}

/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  width: 100vw;
  height: 100vh;
  position: relative;
}

::placeholder {
  color: #ccc;
}

/* Animation */
@keyframes enterLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card-animate {
  animation-name: enterLeft;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.66,.07,.23,1.19);
  animation-fill-mode: backwards;
}

/* Header */
.header-container {
  background-color: var(--main-red-color);
  color: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.header-title {
  font-size: 2rem;
}

/* Blue HR (horizontal row) */
.blue-hr {
  width: 95%;
  position: absolute;
  height: 20px;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-blue-color);
}

.blue-hr:first-of-type {
  top: 120px;
  left: 50%;
}

.blue-hr:last-of-type {
  bottom: 120px;
}

/* Main */
.main-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  /* border: 2px solid red; */
}

/* Placeholder Card - Replaced by Javascript */
#placeholder-card {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-font-color);
  background-color: var(--placeholder-card-color);
  transition: color 0.3s ease;
  box-shadow: -4px -8px 4px rgba(255, 255, 255, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

#placeholder-card:hover {
  background-color: #ccc;
}

.hide-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: -100;
}

.cards-container {
  position: relative;
}

/* Project Card */
.project-card-container {
  width: 350px;
  display: grid;
  margin: 20px 20px;
  position: relative;
  height: 500px;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto;
  box-shadow: -4px -8px 4px rgba(255, 255, 255, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 5px;
}

.project-card-delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #922e2e;
  text-align: right;
  padding: 8px 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-card-delete-btn:hover {
  background-color: #662020;
}

.project-card-title {
  padding: 10px 15px;
  font-size: 2rem;
  width: 100%;
  overflow: hidden;
  background-color: var(--main-red-color);
}
.project-card-title input[type="text"] {
  background: transparent;
  color: var(--main-font-color);
  font-size: 2rem;
  border: none;
  outline: none;
}
.project-card-body {
  width: 95%;
  font-size: 2rem;
  margin: 10px auto;
  overflow-y: auto;
  line-height: 1.2;
  padding: 10px;
  box-shadow: inset 1px 2px 4px rgba(20,20,20,0.3);
  background-color: var(--card-body-color);
  color: var(--secondary-font-color);
  color: #000;
}

.add-card-body {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  font-size: 4rem;
  color: var(--secondary-font-color);
  box-shadow: inset 1px 2px 4px rgba(20,20,20,0.3);
  background-color: var(--main-bg-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

.add-card-body:hover {
  background-color: #ddd;
}

/* Add Card Button */
.add-card-btn {
  width: 30px;
  height: 300px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: var(--secondary-font-color);
  transition: all 0.3s ease;
  box-shadow: inset 1px 2px 4px rgba(20,20,20,0.3);
}
.add-card-btn:hover {
  background-color: #ddd;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  @keyframes enterLeft {
    0% {
      opacity: 0;
      transform: translateY(-90px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .main-container {
    flex-direction: column;
    height: 100vh;
  }

  .blue-hr:last-of-type {
    position: initial;
    transform: translate(0, 0);
    margin: 20px auto;
  }

  .add-card-btn {
    width: 55%;
    height: 30px;
    padding: 20px 0;
  }
}